<div class=center>

    <div class="wrapper">

        <div class="player">

            Current player : {{boardService.player}}
        </div>
        <div class="player">

            <button (click)="boardService.reset()">

                Reset

            </button>

        </div>
        <div class="player">

            winner : {{boardService.winner || 'none'}}

        </div>
        <div class="boxes">

            <div *ngFor="let box of boardService.board ">

                <app-box [box]="box"></app-box>

            </div>

        </div>

    </div>

</div>
